$themeColor: #007bff;
.App {
  position: relative;
  width: 100%;
  height: 100%;

  .navbar {
    height: 70px;

    .user {
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
      span {
        color: #fff;
        font-size: 14px;
        margin-left: 10px;
      }
    }
  }

  .navList {
    width: 300px;
    position: absolute;

    ul {
      padding: 0;
      li {
        list-style: none;
        width: 100%;
        height: 50px;
        overflow: hidden;
        line-height: 50px;
        padding: 0 20px 0 30px;
        border-left-color: $themeColor;
        border-left-style: solid;
        cursor: pointer;
        transition: all 0.5s;

        a {
          width: 100%;
          height: 100%;
          float: left;
          color: #000;
          text-decoration: none;

          img {
            margin-right: 10px;
            margin-top: -2px;
          }
        }

        &:hover {
          transform: scale(1.1);
          background: rgba(0, 0, 0, 0.1);
        }
      }
    }
  }

  .column {
    width: 98%;
    height: 100px;
    padding-left: 300px;
  }

  .login {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;

    .login-type {
      margin-top: 10px;
      font-size: 14px;

      span {
        margin-right: 10px;
        &:nth-child(1) {
          color: $themeColor;
        }
      }
    }

    .loginBox {
      width: 400px;
      height: 300px;
      padding: 10px;
      border-radius: 10px;
      background: #fff;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;

      .user-data {
        input {
          margin-top: 30px;
          &:nth-child(1) {
            margin-top: 30px;
          }
        }
      }

      .submit-data {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 30px;

        button {
          width: 100%;
        }
      }
    }
  }

  .audio {
    width: 100%;
    min-width: 1000px;
    height: 70px;
    position: fixed;
    bottom: 0;
    // background: rgba(255,255,255,.3);
    background: #fff;
    border-top: 1px solid #ccc;

    padding: 0 30px;
    display: flex;
    align-items: center;
    .audioCtrl {
      position: absolute;
      span {
        width: 40px;
        height: 40px;
        line-height: 40px;
        // background: $themeColor;
       
        border-radius: 50%;
        float: left;
        text-align: center;
        margin-right: 20px;
        cursor: pointer;

        img {
          width: 30px;
          height: 30px;
        }

        &:nth-child(2) {
        }
      }
    }

    .currentSong {
      margin-left: 200px;
      width: 100%;
      display: flex;
      align-items: center;
      // color:$themeColor;

      .avatarImg {
        width: 50px;
        height: 50px;
      }

      .avatar {
        width: 120px;
        margin-right: 20px;
       
        p {
          margin: 0 0 5px 20px;
          font-size: 14px;
          height: 21px;
          overflow: hidden;
        }
      }

      .progress {
        width: 60%;
        height: 25px;
      }

      .voice {
        margin-left: 30px;
        display: flex;
        align-items: center;
        span {
          img {
            width: 25px;
            height: 25px;
            margin-right: 10px;
          }
        }
        .progress {
          width: 100px;
          height: 20px;
        }
      }





    }
  }
}
